h1 {
	color:black;
	text-align:center;
}

body {
	background:#white
}

div#wrap{
	margin:auto;
	background:white;
	width:700px;
	height:2000px;
	
}

header {
	padding:20px 0px 30px 0px
}

#navigation a {
	padding: 0px 0px 100px 0px;
}

article {
	font-size: 125%;
}

pre {
	background:#FFCC99;
}