h1 {
	color:black;
	text-align:center;
}

h2 {
	background:white;
}

body {
	background:#3399FF
}

div#wrap{
	margin:auto;
	background:white;
	width:750px;
	height:2000px;
	
}
nav {
	padding:10px 10px 10px 10px;
}

section {
	padding: 10px 10px 10px 10px;
	background:white;
}

header {
	padding:20px 0px 30px 0px
}

#navigation a {
	padding: 0px 0px 100px 0px;
}

article {
	font-size: 125%;
	background:white;
	text-align:justify;
}

pre {
	background:#FFCC99;
}